flows.json
[{"id":"b0b80a8c.c36d38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"621acc4a.86ca14","type":"serial in","z":"b0b80a8c.c36d38","name":"","serial":"ef25d1e2.e0c6","x":210,"y":120,"wires":[["6da6aec7.a0154"]]},{"id":"90bf36cb.b3de58","type":"debug","z":"b0b80a8c.c36d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":240,"wires":[]},{"id":"e722c4e7.1d4778","type":"inject","z":"b0b80a8c.c36d38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":460,"wires":[["a2827b07.7de578"]]},{"id":"a2827b07.7de578","type":"file","z":"b0b80a8c.c36d38","name":"BPM","filename":"C:\\Users\\hydro\\BPM.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":750,"y":380,"wires":[["90bf36cb.b3de58"]]},{"id":"6da6aec7.a0154","type":"function","z":"b0b80a8c.c36d38","name":"","func":"var message = msg.payload;\nvar num = message.trim();\nif(isNaN(num)==false){\nmsg.payload = num;\nreturn msg;\n}\nelse{}","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["90bf36cb.b3de58","a2827b07.7de578"]]},{"id":"ef25d1e2.e0c6","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]